/**---RESET----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**-------BODY-----------*/

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/**-------clases de bostrap-----------*/
.menu-color{
    background-color:rgb(226, 166, 166);     color: white;
}

.carousel-item{
    margin: 20px !important;
    padding: 20px !important;
}
.carousel-item img{
    width: 800px !important;
    height: 600px !important;
    
    
}
.carruseldos{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.trabajarconnos{
    font-size: 30px;
    color:rgb(234, 148, 148)
}

.form-label{
    color: $color-principal !important;
font-size: nth($font-size, 1) !important;
}

.botonenviar{
    color: $color-principal!important;
    padding: 5px !important;
    border: 1px solid !important;
    margin: 5px !important;
}